.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 50vw;
}

.square_1 {
  width: 200px;
  height: 200px;
  background-color: aqua;
  border: 5px solid black;
  border-bottom: 20px solid yellow;
}

.square_2 {
  width: 200px;
  height: 200px;
  background-color: aqua;
  border: 5px solid black;
  border-top: 20px solid yellow;
}