.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 50vw;
}

.square_1 {
  width: 200px;
  height: 200px;
background-image: linear-gradient(to bottom left, black, yellow);
}

.square_2 {
  width: 200px;
  height: 200px;
  background-image: radial-gradient(red,blue);

}