body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin-top: 30px;
}
p {
    margin-top: 20px;
}

#age-input {
    width: 100px;
    margin-top: 10px;
}

#check-button {
    margin-top: 10px;
}